@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  .dark {
    --ui-bg: #171717;
    /* --ui-text: #f0f6fc; */
    --ui-text: #f4f4f4;
  }
}

@theme {
  --font-sans: "Public Sans", sans-serif;
}

:root.dark, .dark {
  --ui-bg: #171717;
    /* --ui-text: #f0f6fc; */
    --ui-text: #f4f4f4;
}
